<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.master.server.management.mapper.FieldMapper">

    <select id="selectByNamespaceId" resultType="cn.ken.master.server.management.model.management.field.ManagementFieldDTO">
        select * from main.master_field
        where namespace_id = #{namespaceId}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(*) from master_field mf
        left join main.master_namespace mn on mf.namespace_id = mn.id
        <where>
            mf.app_id = #{appId}
            <if test="namespaceId != null">
                and mf.namespace_id = #{namespaceId}
            </if>
            <if test="name != null">
                and mf.name like concat(#{name}, '%')
            </if>
        </where>
    </select>


    <select id="selectByCondition" resultType="cn.ken.master.server.management.model.management.field.ManagementFieldDTO">
        select mf.*, mn.name as namespace, mn.class_name as className from master_field mf
        left join main.master_namespace mn on mf.namespace_id = mn.id
        <where>
            mf.app_id = #{appId}
            <if test="namespaceId != null">
                and mf.namespace_id = #{namespaceId}
            </if>
            <if test="name != null">
                and mf.name like concat(#{name}, '%')
            </if>
        </where>
        limit #{startIndex}, #{pageSize}
    </select>
</mapper>
