<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.master.server.management.mapper.MachineMapper">


    <select id="selectByAppId" resultType="cn.ken.master.server.management.model.entity.MachineDO">
        select * from master_machine
        where app_id = #{appId}
    </select>
</mapper>
