<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.master.server.management.mapper.ManagementLogMapper">

    <insert id="insert">
        insert into main.master_management_log(app_id, machine, namespace, field_name, before_value, after_value, status, push_type, template_id, parent_id, field_id, modifier)
        values (#{appId}, #{machine}, #{namespace}, #{fieldName}, #{beforeValue}, #{afterValue}, #{status}, #{pushType}, #{templateId}, #{parentId}, #{fieldId}, #{modifier})
        <selectKey keyColumn="id" keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select last_insert_rowid()
        </selectKey>
    </insert>

    <select id="selectByFieldId" resultType="cn.ken.master.server.management.model.entity.ManagementLogDO">
        select * from master_management_log
        where field_id = #{fieldId}
    </select>

    <select id="count" resultType="long">
        select count(*) from master_management_log
        <where>
            app_id = #{appId}
            <if test="namespace != null">
                and namespace = #{namespace}
            </if>
            <if test="fieldId != null">
                and field_id = #{fieldId}
            </if>
            <if test="fieldName != null">
                and field_name = #{fieldName}
            </if>
            <if test="machineSet != null and !machineSet.isEmpty()">
                and machine in
                <foreach collection="machineSet" item="machine" open="(" close=")" separator=",">
                    #{machine}
                </foreach>
            </if>
            <if test="modifier != null">
                and modifier = #{modifier}
            </if>
        </where>
    </select>

    <select id="selectByCondition" resultType="cn.ken.master.server.management.model.entity.ManagementLogDO">
        select * from master_management_log
        <where>
            app_id = #{appId}
            <if test="namespace != null">
                and namespace = #{namespace}
            </if>
            <if test="fieldId != null">
                and field_id = #{fieldId}
            </if>
            <if test="fieldName != null">
                and field_name = #{fieldName}
            </if>
            <if test="machineSet != null and !machineSet.isEmpty()">
                and machine in
                 <foreach collection="machineSet" item="machine" open="(" close=")" separator=",">
                     #{machine}
                 </foreach>
            </if>
            <if test="modifier != null">
                and modifier = #{modifier}
            </if>
        </where>
        order by gmt_create desc
        limit #{startIndex}, #{pageSize}
    </select>
</mapper>
