<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.master.server.management.mapper.TemplateFieldMapper">

    <update id="updateFieldValue">
        update master_template_field
        set field_value = #{fieldValue}
        where template_id = (
            select id from master_template
            where app_id = #{appId}
            and name = #{name}
        )
    </update>

    <delete id="deleteByFieldId">
        delete from main.master_template_field
        where field_id = #{fieldId}
    </delete>

    <select id="selectByTemplateName" resultType="cn.ken.master.server.management.model.entity.TemplateFieldDO">
        select * from master_template_field
        where template_id = (
            select id from master_template
            where app_id = #{appId}
            and name = #{name}
        )
    </select>

    <select id="selectByTemplateId" resultType="cn.ken.master.server.management.model.entity.TemplateFieldDO">
        select * from master_template_field
        where template_id = #{templateId}
    </select>
</mapper>
