<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.master.server.management.mapper.TemplateFieldMapper">

    <insert id="insert">
        insert into main.master_template_field(template_id, namespace, field_name, field_value, field_id)
        values (#{templateId}, #{namespace}, #{fieldName}, #{fieldValue}, #{fieldId})
        <selectKey keyColumn="id" keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select last_insert_rowid()
        </selectKey>
    </insert>

    <update id="updateFieldValueByName">
        update master_template_field
        set field_value = #{fieldValue}
        where template_id = (
            select id from master_template
            where app_id = #{appId}
            and name = #{name}
        )
    </update>

    <update id="updateFieldValueById">
        update master_template_field
        set field_value = #{fieldValue}
        where id = #{id}
    </update>

    <delete id="deleteByFieldId">
        delete from main.master_template_field
        where field_id = #{fieldId}
    </delete>

    <select id="selectByTemplateName" resultType="cn.ken.master.server.management.model.entity.TemplateFieldDO">
        select * from master_template_field
        where template_id = (
            select id from master_template
            where app_id = #{appId}
            and name = #{name}
        )
    </select>

    <select id="selectByTemplateId" resultType="cn.ken.master.server.management.model.entity.TemplateFieldDO">
        select * from master_template_field
        where template_id = #{templateId}
    </select>

    <select id="selectByCondition" resultType="cn.ken.master.server.management.model.entity.TemplateFieldDO">
        select * from main.master_template_field
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="templateId != null">
                and template_id = #{templateId}
            </if>
            <if test="fieldId != null">
                and field_id = #{fieldId}
            </if>
            <if test="namespace != null">
                and namespace = #{namespace}
            </if>
            <if test="fieldName != null">
                and field_name = #{fieldName}
            </if>
            <if test="fieldValue != null">
                and field_value = #{fieldValue}
            </if>
        </where>
        order by gmt_create desc
        limit #{startIndex}, #{pageSize}
    </select>


    <select id="count" resultType="long">
        select count(*) from main.master_template_field
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="templateId != null">
                and template_id = #{templateId}
            </if>
            <if test="fieldId != null">
                and field_id = #{fieldId}
            </if>
            <if test="namespace != null">
                and namespace = #{namespace}
            </if>
            <if test="fieldName != null">
                and field_name = #{fieldName}
            </if>
            <if test="fieldValue != null">
                and field_value = #{fieldValue}
            </if>
        </where>
    </select>



</mapper>
