<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.master.server.mapper.ManagementLogMapper">


    <select id="selectByFieldId" resultType="cn.ken.master.server.model.entity.ManagementLogDO">
        select * from master_management_log
        where field_id = #{fieldId}
    </select>


    <select id="selectByCondition" resultType="cn.ken.master.server.model.entity.ManagementLogDO">
        select * from master_management_log
        <where>
            app_id = #{managementLog.appId}
            <if test="managementLog.namespace != null">
                and namespace = #{managementLog.namespace}
            </if>
            <if test="managementLog.name != null">
                and field_name = #{managementLog.name}
            </if>
            <if test="managementLog.machineSet != null and !managementLog.machineSet.isEmpty()">
                and machine in
                 <foreach collection="managementLog.machineSet" item="machine" open="(" close=")" separator=",">
                     #{machine}
                 </foreach>
            </if>
            <if test="managementLog.modifier != null">
                and managementLog.modifier = #{modifier}
            </if>
        </where>
        limit #{pageIndex}, #{pageSize}
    </select>
</mapper>
